* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
  }
  .frame {
      height: 100vh;
  }
  .logo-bucket {
      display: flex;
      justify-content: center;
      padding: 16px 0;
      background: #fff;
  }
  .logo {
      color: #2b98f0;
      border: 3px solid #2b98f0;
      padding: 10px;
      text-decoration: none;
  }
  .signup-bucket {
      display: flex;
      justify-content: center;
      padding: 3em 0;
  }
  .signup {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 20px 32px 20px 20px;
      width: 80%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .title {
      text-align: center;
      color: #2b98f0;
  }
  #firstname,
  #lastname,
  #email,
  #password {
      display: block;
      width: 100%;
      padding: 1em 1px;
      margin: 0.5em 0;
      border: none;
      border-bottom: 1px solid #074a81;
  }
  #password {
      margin-bottom: 32px;
  }
  input[type=submit] {
    background-color: #2b98f0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px 32px 0px;
    cursor: pointer;
  }
  .signin-link {
      text-align: center;
      text-decoration: none;
      margin-bottom: 16px;
      color: #074a81;
  }
  .signup-link {
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #074a81;
  }
  .signup > div {
      text-align: center
  }
   footer {
    display: flex;
    color: #f5f5f5; 
    background-color: #074a81;
     justify-content: center;
    padding: 20px;
    width: 100%; 
  } 
    footer h3 {
    margin: 10px;
    text-align: center;
    
    }

@media screen and (min-width:600px) {
.signup-bucket {
    padding: 5em 0;
}

.signup {
width: 60%;
}
footer {
    position: static;
}
}
@media screen and (min-width:992px) {
    .signup {
        width: 40%;
        max-width: 40%;
        }
        footer {
            position: static;
        }
}

